@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@300;400;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --white: #fCFCFC;
    --cool: #f7f7f7;
    --primary-color: #a503a8;
    --secondary-color: #680097;
    --tertiary-color: #d600b1;
    --extra--effect: #d3b703;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
img {
    max-width: 100%;
    max-height: 100%;
}


/* hero */
.hero{
    padding: 6rem 2rem 1rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--black);
}
.hero_content > h2{
    font-size: 2.5rem;
    padding: 1rem;
}
.hero_content > p{
    padding: 0.5rem;
}
.hero_link{
    padding: 1rem;
}
.hero_link > a{
    text-decoration: none;
    color: var(--black);
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.3rem;
    padding: 1rem;
    font-weight: 900;
}
.hero_link > a:hover{
    background-color: var(--primary-color);
    color: var(--white);
}
.hero_link > .active{
    background-color: var(--primary-color);
    color: var(--white);
}
.hero > .img{
    margin-top: 1rem;
    border-radius: 0.3rem;
}

/* about */
.content > h1{
    border-top: 0.2rem solid var(--black);
}

/* Courses */
.features{
    color: var(--black);
    text-align: center;
}
.features > .card-title > h2 {
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.9rem;
}
.features > .card-title > p {
    padding: 1rem;
    margin-bottom: 2rem;
}
.card-body{
    margin-bottom: 2rem;
}
.card-body > .details{
    border: 0.1rem solid var(--secondary-color);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

/* learn */
.learn{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--black);
}
.learn-title{
    padding: 1rem;
    margin-bottom: 1rem;
}
.learn-title > h2{
    font-size: 1.9rem;
    margin-bottom: 2rem;
}
.learn-title > a{
    text-decoration: none;
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem;
    font-weight: 900;
}
.learn-title > a:hover{
    background-color: var(--white);
    color: var(--secondary-color);
    transition: ease-in-out 0.3s;
}
.learn-card-container{
    padding: 1rem;
}
.learn-card > .icon{
    font-size: 4rem;
}
.learn-card-content > h3{
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 0.2rem;
}
.learn-card-content > p{
    padding: 1rem;
}

/* career */
.career{
    color: var(--black);
    background-color: var(--cool);
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.career > .content > h3{
    padding: 0.5rem;
    text-transform: capitalize;
    font-size: 1.3rem;
}
.career > .content > a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 0.2rem;
    border: 0.1rem solid var(--primary-color);
    padding: 1rem;
    font-weight: 900;
}
.career > .content > a:hover{
    background-color: var(--white);
    color: var(--secondary-color);
}
.career > img {
    padding: 2rem;
}











/* media query for desktop or large screen devices */
@media screen and (min-width:768px){
   /* hero */
   .hero{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 3rem;
   }
   .hero > img {
        padding: 1rem;
        margin: auto;
        width: 49%;
   }
   .hero_content{
    padding: 4rem 1rem 2rem 1rem;
   }
   .hero_content > h2{
        font-size: 3.5rem;
   }

   /* about */
   .about_us{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 0 3rem;
   }
   .about_us > .content{
        margin-left: 2rem;
   }

   /* features - courses */
   .features{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
   }
   .card-container{
        display: flex;
        flex-direction: row;
        width: 100%;
   }
   .card-body{
        width: 33%;
        max-height: fit-content;
        max-height: max-content;
   }

   /* learn */
   .learn{
        display: flex;
        flex-direction: column;
        justify-content: center;
   }
   .learn-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding: 1rem 7rem;
   }
   .learn-title > h2{
        margin-top: 2rem;
        font-size: 2.5rem;
   }
   .learn-card-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   }
   .learn-card{
        background-color: var(--cool);
        padding: 1rem;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: row;
        width: 49%;
        margin: 1rem 5rem;
   }
   .learn-card-content{
        text-align: left;
        padding: 0.5rem;
   }
   .learn-card-content > h3 {
        padding: 1rem;
   }

   /* career */
   .career{
        flex-direction: row;
        padding: 1rem 3rem;
   }
   .career > img {
    max-width: 50%;
   }
   .career > .content {
    padding: 2rem 4rem 0 0;
    text-align: left;
   }
   .career > .content > h3{
    font-size: 2rem;
    padding: 1rem;
   }
   .career > .content > a {
    margin-left: 1rem;
   }
}