@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@300;400;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --white: #fCFCFC;
    --cool: #f7f7f7;
    --primary-color: #a503a8;
    --secondary-color: #680097;
    --tertiary-color: #d600b1;
    --extra--effect: #d3b703;
    --black: #000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
img {
    border-radius: 0.3rem;
    max-width: 100%;
    max-height: 100%;
}
.body-container{
    justify-content: center;
    color: var(--black);
}

/* hero */
.hero_content{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.hero_content > h2{
    padding: none;
    font-size: 3.5rem;
}
.hero_content > p{
    padding: 0 1rem;
}
.hero_link {
    margin-top: 1.5rem;
}

/* career */
.career{
    background: transparent;
}

/* learn */
.learn{
    background: var(--cool);
}

/* study */
.study{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.study > h2{
    font-size: 1.8rem;
    padding: 1rem;
}
.tabs-content{
    display: none;
    padding: 0 1rem 3rem 1rem;
}
.tabs-content-active{
    display: block;
}
.tabs-sidebar{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.tabs-button{
    background: var(--white);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1rem;
}
.tabs-button.active, .tabs-button.active:hover{
    background-color: var(--cool);
}
.tabs-button:hover{
    background-color: var(--cool);
}
.tabs-button > img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.tabs-button-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.study > a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 1rem;
    margin: 0 7rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 0.3rem;
    border: 0.1rem solid var(--primary-color);
}
.study > a:hover{
    background-color: white;
    color: var(--secondary-color);
    transition: ease-in-out 0.5s;
}



/* media query for desktop and large screen devices*/
@media screen and (min-width:768px) {
    .hero_content{
        padding-top: 3.5rem;
    }

    /* learn */
    .learn{
        background: none;
    }

    /* study */
    .study{
        border-top: 0.1rem solid var(--black);
        margin: 1rem 5rem;
    }
    .study > a{
        margin: auto;
    }
    .tabs{
        padding: 1rem 7rem;
    }
    .tabs-sidebar{
        border-top: 0.1rem solid var(--black);
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
    }
}