@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@300;400;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --white: #f5f5f5;
    --black: rgb(46, 45, 45);
    --primary-color: #680097;
    --secondary-color: #a503a8;
    --tertiary-color: #d600b1;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
img {
    max-width: 100%;
    max-height: 100%;
}

/* Header & Nav Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    color: var(--white);
    background-color: var(--secondary-color);
    width: 100%;
    padding: 1rem 2em;
}
.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.logo {
    max-width: 2rem;
}
.brand {
    display: none;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--secondary-color);
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
}
.nav-list.active {
    height: auto;
    padding: 1rem 2rem;
}
.nav-list a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    transition: all .5s;
}
.nav-list a:hover {
    color: var(--tertiary-color);
}
.nav-toggle {
    border: 1px solid var(--white);
    outline: none;
    padding: .5rem;
    border-radius: .2rem;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
}
.nav-toggle:hover{
    opacity: .7;
    background-color: var(--tertiary-color);
}

/* banner section*/
.banner{
    background-image: linear-gradient(rgba(243, 13, 243, 0.212), rgba(236, 16, 225, 0.281)), url(../img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 35rem;
    text-align: center;
    padding: 15rem 1rem;
}
.banner-title{
    text-transform: uppercase;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bolder;
}
.banner-text{
    color: var(--white);
    font-size: 1.3rem;
    padding: 1rem 0;
}
.cta{
    text-decoration: none;
    color: var(--white);
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 900;
    padding: 1rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0.3rem;
}
.banner a:hover{
    color: var(--white);
    background-color: var(--tertiary-color);
}






/* media query for desktop or large screen devices */
@media screen and (min-width:768px){
    .header {
        padding: 1rem 3.5rem;
    }
    .brand {
        display: flex;
    }
    .brand a {
        text-decoration: none;
        color: var(--white);
        text-transform: uppercase;
        font-size: 2rem;
    }
    .nav-toggle{
        display: none;
    }
    .nav-list{
        padding: 2rem;
        gap: 1.7rem;
        height: auto;
        position: static;
        flex-direction: row;
        background-color: transparent;
    }
    .nav-list a {
        font-size: 1.2rem;
        border: 0.1rem solid var(--white);
        border-radius: 5%;
        padding: 0 0.5rem;
    }
    .nav-list a:hover {
        background-color: var(--tertiary-color);
        color: var(--white);
        border-radius: 5%;
        padding: 0 0.5rem;
    }
    .nav-list .active {
        background-color: var(--tertiary-color);
    }
    .social {
        gap: 0.1rem;
    }
    .social a {
        border: none;
    }
    .social a:hover {
        background-color: var(--white);
        color: var(--secondary-color);
    }
    .banner{
        height: 100rem;
        padding: 50rem 5rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner-text{
        font-size: 3rem;
    }
    .cta{
        font-size: 3rem;
    }
