@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@300;400;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --white: #fCFCFC;
    --cool: #f7f7f7;
    --primary-color: #a503a8;
    --secondary-color: #680097;
    --tertiary-color: #d600b1;
    --extra--effect: #d3b703;
    --black: #000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
img {
    border-radius: 0.3rem;
    max-width: 100%;
    max-height: 100%;
}
.body-container{
    justify-content: center;
}

/* HOME PAGE */

/* Header & Nav Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 50;
    color: var(--black);
    background-color: var(--white);
    width: 100%;
    padding: 1rem 2em;
}
.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.logo {
    max-width: 2rem;
}
.brand {
    display: none;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--white);
    color: var(--black);
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
}
.nav-list.active {
    height: auto;
    padding: 1rem 2rem;
}
.nav-list a {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    transition: all .5s;
}
.nav-list a:hover {
    color: var(--tertiary-color);
}
.nav-toggle {
    border: 1px solid var(--primary-color);
    outline: none;
    padding: .5rem;
    border-radius: .2rem;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}
.nav-toggle:hover{
    background-color: var(--white);
    color: var(--primary-color);
    transition: ease-in-out 0.4s;
}

/* banner section*/
.banner{
    background-image: linear-gradient(rgba(243, 13, 243, 0.212), rgba(236, 16, 225, 0.281)), url(../img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 35rem;
    text-align: center;
    padding: 15rem 1rem;
}
.banner-title{
    text-transform: uppercase;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bolder;
}
.banner-text{
    color: var(--white);
    font-size: 1.3rem;
    padding: 1rem 0;
}
.cta{
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 900;
    padding: 1rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0.3rem;
}
.banner a:hover{
    color: var(--secondary-color);
    background-color: var(--white);
    transition: ease-in-out 0.4s;
}

/* features */
.features{
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--cool);
    align-items: center;
}
.card-body{
    background-color: var(--white);
    color: var(--black);
    border-radius: 0.3rem;
    padding: 1rem 0.5rem;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: inset 5px 5px 5px rgba(172, 168, 171, 0.616), 
                inset -5px -5px 15px rgba(138, 131, 137, 0.616), 
                5px 5px 5px rgba(236, 9, 236, 0.863), 
                -5px -5px 15px rgba(233, 5, 233, 0.795);
}
.card-body:hover {
    transform: translateX(0.6rem);
    transition: ease-in-out 0.5s;
}
.card-body > .icon{
    font-size: 2rem;
}
.card-body > h3{
    text-transform: uppercase;
    font-size: 2.2rem;
}
.card-body > p{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 1rem 1.4rem;
    margin: 1rem auto;
}
.card-body > a{
    color: var(--black);
    font-size: 1.9rem;
}
.card-body > a:hover{
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 0.2rem;
    padding: 0 0.5rem;
    transition: all 0.3s;
}
.features > .cta {
    align-items: center;
    background-color: transparent;
    margin: 1rem 3rem;
}
.features > .cta > a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--primary-color);
    font-weight: 900;
}
.features > .cta > a:hover{
    background-color: var(--white);
    color: var(--secondary-color);
    transition: ease-in-out 0.2s;
}

/* About Us */
.about_us{
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--black);
}
.content > h1{
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.9rem;
}
.content > p{
    text-align: justify;
    padding: 1rem;
    margin-bottom: 4rem;
}

/* professional section */
.pro{
    background-color: var(--cool);
    color: var(--black);
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pro_content{
    padding: 1rem;
    background-color: var(--white);
    border-radius: 0.4rem;
}
.pro_title{
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}
.pro_content > p{
    margin-bottom: 1rem;
}
.pro_section{
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
}
.pro_section > .icon{
    font-size: 2rem;
}
.pro_section > h3{
    font-size: large;
    margin-bottom: 0.2rem;
}
.pro > img{
   padding: 1rem 1rem 4rem 1rem;
}

/* contact */
.footer{
    background: var(--primary-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
.footer > h2{
    padding: 1rem;
}
.contact{
    color: var(--black);
    box-shadow: inset 5px 5px 5px rgba(172, 168, 171, 0.616), 
                inset -5px -5px 15px rgba(138, 131, 137, 0.616), 
                5px 5px 5px rgba(236, 9, 236, 0.863), 
                -5px -5px 15px rgba(233, 5, 233, 0.795);
}
.contact_content{
    background: var(--white);
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 0.5rem;
}
.contact_content > .icon{
    font-size: 1.7rem;
}
.contact_content > h3{
    text-transform: uppercase;
}
.contact_content > hr{
    margin: 1.4rem 8rem;
}
.footer > .social{
    margin-top: 1rem;
}
.footer > .social > a{
    color: var(--white);
    font-size: 1.7rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.footer > .social > a:hover{
    color: var(--primary-color);
    background-color: var(--white);
    transition: ease-in-out 0.5s;
}
.footer > p{
    margin-top: 3rem;
}























/* SPACE FOR INSTROSPECTION */






















/* media query for desktop or large screen devices */
@media screen and (min-width:768px){
    /* header & nav */
    .header {
        color: var(--black);
        padding: 0 3.5rem;
    }
    .brand {
        display: flex;
    }
    .brand a {
        text-decoration: none;
        color: var(--primary-color);
        text-transform: uppercase;
        font-size: 2rem;
    }
    .nav-toggle{
        display: none;
    }
    .nav-list{
        padding: 2rem;
        gap: 1.7rem;
        height: auto;
        position: static;
        flex-direction: row;
        background-color: transparent;
    }
    .nav-list a {
        font-size: 1.2rem;
        border: 0.1rem solid var(--secondary-color);
        border-radius: 5%;
        padding: 0 0.5rem;
    }
    .nav-list a:hover {
        background-color: var(--primary-color);
        color: var(--white);
        border-radius: 5%;
        padding: 0 0.5rem;
    }
    .nav-list .active {
        background-color: var(--primary-color);
        color: var(--white);
    }
    .social {
        gap: 0.1rem;
    }
    .social a {
        border: none;
    }
    .social a:hover {
        background-color: var(--primary-color);
        color: var(--white);
    }
    
    /* banner */
    .banner{
        background-position: 50% 50%;
        padding: 15rem 5rem 40rem 5rem;
        height: 50vh;
    }
    .banner-title{
        font-size: 3.5rem;
    }
    .banner-text{
        font-size: 2rem;
    }
    .cta{
        font-size: 1.5rem;
    }

    /* features */
    .features{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem 7rem;
        margin-bottom: 1rem;
    }
    .features > .cta > a {
        font-size: 1.5rem;
        padding: 1rem;
    }
    .card-body{
        gap: 0.5rem;
        max-width: 47%;
        margin: 1rem;
    }
    .card-body:hover {
        transform: translateY(-0.6rem);
        transition: ease-in-out 0.5s;
    }


    /* About us */
    .about_us{
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        text-align: left;
        justify-content: center;
        margin: 1rem 3rem;
    }
    .about_us > img{
        max-width: 45%;
    }
    .about_us > .content{
        max-width: 45%;
        text-align: left;
    }
    .about_us > .content > h1{
        border-top: 0.7rem solid var(--black);
        padding: none;

    }
    .about_us > .content > p{
        border-radius: 0.2rem;
    }
    /* pro */
    .pro{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 3rem;
    }
    .pro > .pro_content{
        border-radius: 0.3rem;
        text-align: left;
        max-width: 45%;
    }
    .pro > img {
        max-width: 45%;
    }
    .pro_section{
        display: flex;
        flex-direction: row;
    }
    .pro_section_content{
       padding-left: 1rem;
    }
    /* footer */
    .contact{
        margin: auto;
        display: flex;
        flex-direction: row;
        flex: wrap;
        justify-content: center;
        box-shadow: inset 5px 5px 5px rgba(172, 168, 171, 0.616), 
                inset -5px -5px 15px rgba(138, 131, 137, 0.616), 
                5px 5px 5px rgba(236, 9, 236, 0.863), 
                -5px -5px 15px rgba(233, 5, 233, 0.795);
    }
    .contact_content>hr{
        width: 4%;
        border: 0.1rem solid var(--secondary-color);
    }
}